@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

.Input-body{
    margin:auto;
    margin-top:5%;
    justify-content: space-between;
    width: 500px;
}

.Input-body input{
    border:none;
    height: 60px;
    width:435px;
}

input [type=text]:active{
    outline: none;


}

.buttonAddItem{
    text-decoration: none;
    border:none;
    background: none;
    font-size: 35px;
    color: #333333;
}

.line{
    width: 500px;
    padding: 0;
    margin-top:0px;
}

.buttonAddItem {
    outline:0;
    
    font-size: 24px;
    
    }

.TaskCounter{
    margin: auto;
    margin-top:3%;
    text-align: right;
    width: 500px;
    color:grey;
    font-family: Source Code Pro;
    /*background: green;*/
    
}

input{
    font-family: Source Code Pro;
}

#buttonDeleteAll{
    font-family: Source Code Pro;
    font-size: 18Px;
    text-align: right;
   border:none;
   height: 40px;
   padding: 0 16px 0 16px;
   margin-top: 8%;
   
    
}

.buttonDeleteAll-body{
    margin:auto;
    width: 500px;
   

}