
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.textH1{
    font-family: Amatic SC;
    font-weight: 700;
    font-size: 100px;
    color:#333333;
}

.textH2{
font-family: Amatic SC;
font-size: 48px;
 color:#333333;


}